* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #0F172A;
    color: #E2E8F0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100svh;
    height: 100dvh;
    margin: 0;
}

h1 {
    color: #FCD34D;
    margin-bottom: 30px;
}

form {
    background-color: #1E293B;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 25px #A78BFA33;
    max-width: 400px;
    width: 90%;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 8px;
    background-color: #334155;
    color: #E2E8F0;
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: #60A5FA;
    color: #0F172A;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    background-color: #3B82F6;
}