* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #0F172A;
  color: #E2E8F0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100svh;
  height: 100dvh;
  margin: 0;
}

.container {
  background-color: #1E293B;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 25px #A78BFA33;
  width: 90%;
  max-width: 400px;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #FCD34D;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 8px;
  background-color: #334155;
  color: #E2E8F0;
}

button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: #60A5FA;
  color: #0F172A;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  background-color: #3B82F6;
}

p, a {
  text-align: center;
  color: #60A5FA;
}

a:hover {
  text-decoration: underline;
}
